*{
    margin: 0;
    padding: 0;
    color:#f0f8ff;
}
body{
    background-color: #444444;
}
.imgLogo{
    width: 5%;
}
ul li{
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.linkPage .link{
    text-decoration: none;
    padding-left: 2rem;
}

.AboutDesc{
    width: 100%;
    height: auto;
    border-radius: 100% 100% 40% 40%;
    -webkit-border-radius: 100% 100% 40% 40%;
    -moz-border-radius: 100% 100% 40% 40%;
    -ms-border-radius: 100% 100% 40% 40%;
    -o-border-radius: 100% 100% 40% 40%;
}